@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,600;0,700;1,400&family=Source+Sans+Pro:ital,wght@0,400;0,900;1,400&display=swap');

@import "../node_modules/bootstrap/scss/bootstrap";

/*   
font-family: 'Mulish', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

.mulish-reg {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
}

.mulish-italic {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.mulish-semibold {
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
}

.mulish-bold {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
}

.sans-black {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
}

.sans-reg {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.sans-italic {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.size62pt {
    font-size: 5rem;
}

.size18pt {
    font-size: 1.5rem;
}

.size16pt {
    font-size: 1.3rem;
}

.size13pt {
    font-size: 1rem;
}

.color-blue {
    color: #04146c
}

.color-white {
    color: white;
}

.bg-skyblue {
    background-color: #5974ff;
}

.bg-blue {
    background-color: #04146c;
}

.btn {
    width: 150px;
    height: 50px;
}

.form-control {
    border: 1px solid #04146c;
    width: 600px;
}

 @include media-breakpoint-down(md) { 
    .form-control {
        width: 400px;
    }
    .row {
        flex-direction: column;
    }
    img {
        width: 100%;
    }
    .btn-primary {
        text-align: center;
    }
    .sans-black {
        text-align: center;
    }
  }

  @include media-breakpoint-down(sm) { 
    .form-control {
        width: 75%;
    }
   }

