@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,600;0,700;1,400&family=Source+Sans+Pro:ital,wght@0,400;0,900;1,400&display=swap');

@import "../node_modules/bootstrap/scss/bootstrap";

/*   
font-family: 'Mulish', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

.mulish-reg {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
}

.mulish-italic {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.mulish-semibold {
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
}

.mulish-bold {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
}

.size18pt {
    font-size: 1.5rem;
}

.size13pt {
    font-size: 1rem;
}

.color-blue {
    color: #04146c
}

.color-white {
    color: white;
}

.bg-skyblue {
    background-color: #5974ff;
}

.btn {
    width: 150px;
    height: 50px;
}

.form-control {
    border: 1px solid #04146c;
    width: 50%;
    max-width: 600px;
}

.border {

}